

body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: #fff;
}


/* responsitv desgin */
@media only screen and (min-width: 900px){
    *{
        box-sizing: border-box;
        font: inherit;
        margin: 0;
        padding: 0;
    }
    #grid-container{
        display: grid;
    }

    body{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        background-color: #fff;
    }

    /* start header */
    .navigasjon_header{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        padding: 2%;
    }

    .navigasjon_list{
        grid-column: 3;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
    }
    .navigasjon_list *{
        text-decoration: none;
        color: black;
        font-weight:bold;
        font-size: large;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    /* contaxt button start */
    #contact_btn {
        color: black;
        background-color: #e6bd43;
        border: none;
        padding: 1rem;
        padding: 1rem;
        transition: background-color 0.5s, color 0.5s; 
    }
    
    #contact_btn:hover {
        background-color: black;
        color: #e6bd43;
        margin-left: 0%;
        margin-right: 0%;
        cursor: pointer;
    }
    /* contaxt button end */

    /* underline når den aktuelle page er active */
    .active_page *{
        display: inline-block;
        text-decoration: underline #e6bd43;
        font-weight: bolder;
        
    }

    /* vdieo start */

    .compeling_headline {
        position: relative;
        height: 80vh; /* Adjust the height as needed */
        overflow: hidden;
    }
    
    .video-container {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    video {
        width: 100%;
        height: 100%;
        z-index: -1; /* Set video behind the content */
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(227, 221, 221, 0.084);
        z-index: 0; /* Ensure the overlay is behind the content */
    }
    
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: black;
        z-index: 1; /* Set content on top of the video */
    }
    
    h1 {
        
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 1.3rem;
        margin-bottom: 30px;
    }
    
    .read_more_about_out_services_btn{
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #e6bd43; /* Button background color */
        color: black; /* Button text color */
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .read_more_about_out_services_btn:hover {
        background-color: black;
        color: #e6bd43;
        margin-left: 0%;
        margin-right: 0%;
        cursor: pointer;
    }
    /* end of video */

    /* subheading start */

    .subheading{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        padding: 6%;
    }

    .subheading h2{
        grid-column: 2;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .subheading p{
        grid-column: 2;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 20px;
        padding: 4%;
    }
    /* slutt subheading */
    /* start about_out_company */
    .about_our_company{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        background-color: #e6bd43;
        width: 100%;
        padding: 2%;
        grid-gap:4%;
        justify-content: start;
    }

    .about_our_company h2{
        grid-column: 2;
        text-align: left;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: 4%;
        margin-top: 10%;
    }
    .about_our_company p{
        grid-column: 2;
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 20px;
        margin-left: 4%;
    }

    .read_more_about_us_btn{
        padding: 10px 20px;
        margin-left: 4%;
        font-size: 1.2rem;
        border: 2px solid black; 
        font-weight: bold;
        background-color: #e6bd43; /* Button background color */
        color: black; /* Button text color */
        text-decoration: none;
        cursor: pointer;
    }

    .read_more_about_us_btn:hover {
        background-color: black;
        color: #e6bd43;
        margin-left: 4%;
        margin-right: 0%;
        cursor: pointer;
    }   
    /* slutt about_our_company */
    /* start out_services */
    .our_services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        text-align: center;
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
        height: 100vh; /* Set a specific height if desired */
    }
    
    .our_services h2 {
        grid-column: span 4; /* Make the h2 span across all columns */
        margin-top: 0; /* Remove default margin */
        font-size: 30px;
        font-weight: bold;
        padding: 2%;
    }
    
    .our_services article {
        border: 1px solid black;
        padding: 20px;
    }

    .our_services article i{
        font-size: 2rem;
    }

    .our_services article h2{
        font-size: 1.5rem;
    }
    .our_services article p{
        font-size: 1rem;

    }
    /* slutt our_services */
    /* start newsletter */
    /* slutt newsletter */
    /* start footer */
    /* slutt footer */

    

    /* start tastaturnavigering */
    .skip-link{
        position: absolute;
        top: -40px;
        left: 0;
        background: #000;
        color: white;
        padding: 8px;
    }
  
    .skip-link:focus {
        top: 0;
    }
    /* end tastaturnavigering */
    /* start button up  */

    .back-to-top-btn {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 24px;
        background-color: black; /* Button background color */
        color: #fff; /* Button text color */
        border: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.3s;
    }

    .back-to-top-btn:hover {
        opacity: 1;
    }
}